


.swiper-slide-active .section .info .title {
    opacity: 1 !important;
    transform: translateY(0px) !important;
    transition-property: all;
    transition-duration: 0.7s;
    transition-delay: 0s;
    transition-timing-function: ease;
}

.swiper-slide-active .section .info .overview {
    opacity: 1 !important;
    transform: translateY(0px) !important;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0.4s;
    transition-timing-function: ease;
}

.swiper-slide-active .section .info .buttons {
    opacity: 1 !important;
    transform: translateY(0px) !important;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0.8s;
    transition-timing-function: ease;
}

.swiper-slide-active .section .poster {
    transform: scale(1) !important;
    transition: transform 1.2s ease;
}