*{
  box-sizing: border-box;
}
html{
  
  color: white;
  font-family: Roboto, Arial, sans-serif;

}

:root {
  --main-color: rgb(181, 20, 20);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #232426; */
  background-color: rgba(3, 3, 3, 0.975);
  transition: all ease-out 0.5s;
  
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
/* a:hover{
  color: red;
} */