.trailer{
    /* width: 80vw; */
    /* margin: 0rem auto; */
    padding: 20px;
    position: relative;
    background-color: rgba(26, 25, 29, 0.975);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 30;
    top: 3vh;
    left: 30%;
    animation: openLogin 0.5s ease-out;
    width: 500px;
}

@media (max-width  : 1200px) {
    .trailer{
        left: 20%;
    }
}
@media (max-width  : 900px) {
    .trailer{
        left: 13%;
    }
}


@media (max-width  : 768px) {
    .trailer{
        left: 5%;
    }
}
@media (max-width  : 600px) {
    .trailer{
        width: 350px;
        height: auto;
    }
}
@media (max-width  : 450px) {
    .trailer{
        width: 300px;
        height: auto;
    }
}
@media (max-width  : 350px) {
    .trailer{
        width: 250px;
        height: auto;
    }
}