.columnWrapper {

    padding: 0 10vw;

    
}


.button {
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    font-size: larger;
    font-weight: 700;
    margin-bottom: 20px;

}


.button:hover {

    color: red;
    cursor: pointer;
    text-align: center;

}